.main__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.main__title,
.main__subtitle {
    margin-bottom: 0;
    font-family: RobotoL, sans-serif;
}

.main__title {
    margin-top: 162px;
    font-size: 62px;
}

.main__subtitle {
    width: 30%;
    text-align: center;
    margin-top: 27px;
    font-size: 20px;
}

.main__images {
    display: flex;
    margin-top: 80px;
}

.main__images ul {
    padding: 0;
    margin-top: -35px;
}

.main__images ul li {
    list-style-type: none;
    margin-top: 35px;
}

.main_li_header {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: RobotoM, sans-serif;
}

.main_li_header img {
    margin-right: 13px;
}

.main_li_footer {
    display: inline-block;
    margin-top: 20px;
    width: 270px;
    font-family: RobotoL, sans-serif;
}